section.income-and-spend {
    border: 1px solid #04586B;
    margin-bottom: 2rem;
    min-height: 49rem;
}
header.c.income-and-spend {
    background: #04586B;
    color: #fff;
    padding: 1rem;
    margin: 0 0 2rem 0;
}
header.c.income-and-spend h1 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.c.income-and-spend.user {
   margin: 2rem;
}
.c.income-and-spend.user form > div {
    margin: 2rem 0;
}
.c.income-and-spend.user form > div:last-child {
    margin: 0;
}

.c.income-and-spend.user h2 {
    color: #096E53;
    font-size: 1.5rem;
    margin: 0;
}

.c.income-and-spend.user fieldset {
    margin: 1rem 0 0 0;
}

.c.income-and-spend.user legend,
.c.income-and-spend.user label span {
    display: none;
}
.c.income-and-spend.user label {
    display: block;
    float: left;
    font-size: 1.3rem;
}
.c.income-and-spend.user label input {
    display: block;
    line-height: 2;
    border: 1px solid #04586B;
    border-radius: 5px;
    color: #999;
    padding: 0 .5rem;
    box-sizing: border-box;
    width: 100%;
}
.c.income-and-spend.user label.amount {
    width: 100%;
}
.c.income-and-spend.user label.from,
.c.income-and-spend.user label.to {
    width: 47.5%;
}
.c.income-and-spend.user label.from {
    margin-right: 5%;
    clear: left;
}


@media all and (min-width: 30em) {
/* 30 x 1.6 = 480px */   
    .c.income-and-spend.user label.amount {
        width: 50%;
        margin-right: 5%;
    }
    .c.income-and-spend.user label.from,
    .c.income-and-spend.user label.to {
        width: 20%;
    } 
    .c.income-and-spend.user label.from {
        clear: none;
    }
}

@media all and (min-width: 64em) {
    /* 60 x 1.6 = 1024px */
    section.income-and-spend {
        min-height: 51rem;
    }
}
@media all and (min-width: 80em) {
/* 80 x 1.6 = 1280px */
    section.income-and-spend {
        min-height: 49rem;
    }
}
